:root {
  --animation: cubic-bezier(.21,.98,.6,.99);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: #e56262;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div:first-child {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px;
  animation: first-child 2s var(--animation) infinite alternate;
}

.container div:nth-child(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  animation: second-child 2s var(--animation) infinite alternate;
}

.container div:last-child {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 15px;
  animation: last-child 2s var(--animation) infinite alternate;
}

@keyframes first-child {
  0%, 10% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    box-shadow: 4px 7px 10px #47424283;
  }
}

@keyframes second-child {
  0%,40% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    box-shadow: 4px 7px 10px #47424283;
  }
}

@keyframes last-child {
  0%,70% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
    box-shadow: 4px 7px 10px #47424283;
  }
}
