@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#f4e5d3, #dbc09d);
}

.motion {
    position: relative;
    width: 400px;
    height: 128px;
}

.foot {
    position: absolute;
    top: -75px;
    left: 30%;
    width: 152px;
    height: 200px;
    animation: walk 2s ease-in-out infinite;
}

.shoe {
    position: absolute;
    bottom: 0;
    width: 152px;
    height: 128px;
    background-image: url("https://100dayscss.com/codepen/doc-martens.svg");
}

.ground {
    width: 400px;
    height: 150px;
    background-color: #232323;
}

@keyframes walk {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-40deg);
    }
}