@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.elipse {
  position: absolute;
  background-color: transparent;
  width: 420px;
  height: 330px;
}

.flip {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: boing 5s ease-in-out infinite;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 80%;
}

.front {
  background-color: #37d493;
}

.back {
  background-color: #444444;
  transform: rotateX(180deg);
}

.black {
  background-color: #444444;
  width: 400px;
  height: 200px;
}

.green {
  background-color: #37d493;
  width: 400px;
  height: 200px;
}

@keyframes boing {
  0% {
    transform: rotateX(90deg);
  }

  15% {
    transform: rotateX(150deg);
  }

  20% {
    transform: rotateX(50deg);
  }

  25% {
    transform: rotateX(120deg);
  }

  30% {
    transform: rotateX(70deg);
  }

  35% {
    transform: rotateX(100deg);
  }

  40% {
    transform: rotateX(83deg);
  }

  45% {
    transform: rotateX(93deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  65% {
    transform: rotateX(30deg);
  }

  70% {
    transform: rotateX(130deg);
  }

  75% {
    transform: rotateX(60deg);
  }

  80% {
    transform: rotateX(110deg);
  }

  85% {
    transform: rotateX(80deg);
  }

  90% {
    transform: rotateX(97deg);
  }

  95% {
    transform: rotateX(87deg);
  }

  100% {
    transform: rotateX(90deg);
  }

}