@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #46a6da;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: -150px;
    animation: bounce 5s ease-in-out infinite;
}

.circle-impact {
    position: absolute;
    border: 10px solid white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: impact 5s ease-in-out infinite;
}

@keyframes impact {

    0%,
    45% {
        transform: scale(0);
        opacity: 1;
    }

    55%,
    100% {
        transform: scale(1);
        opacity: 0;
    }

}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    15% {

        transform: translateY(275px);
    }

    27% {
        transform: translateY(275px) scaleY(0.9);
    }

    30% {
        transform: translateY(245px) scaleX(0.8) scaleY(1);
    }

    35% {
        transform: translateY(275px) scaleY(0.9);
    }

    40% {
        transform: translateY(275px) scaleX(1) scaleY(1);
    }

    45% {
        transform: translateY(275px) scale(0);
    }

    50%,
    50.5% {
        transform: translateY(275px) scale(1);
    }

    100% {
        transform: translateY(600px);
    }

}