@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4b4841;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 300px;
  height: 200px;
  perspective: 800px;
}

.flip {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffce4e;
  transform-style: preserve-3d;
  box-shadow: 6px 3px 15px rgba(0, 0, 0, 0.871);
  transition: transform 1s ease-in-out;
}

.flip:hover {
  transform: rotate3d(1, 0, 0, 180deg);
}

.bicycle {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.ani-frame {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.bicycle svg {
  fill: #4b4841;
  width: 130px;
  animation: motion 0.3s ease-in-out infinite alternate;
}

.tracks {
  display: flex;
  position: relative;
  top: -25px;
}

.track,
.cloud {
  background-color: #4b4841;
  border-radius: 10px;
  margin-left: 332px;
}

.t-1 {
  width: 29px;
  height: 8px;
}

.t-2 {
  width: 10px;
  height: 8px;
  margin-left: 5px;
}

.t-3 {
  width: 15px;
  height: 8px;
  margin-left: 5px;
}

.t-4 {
  width: 29px;
  height: 8px;
  margin-left: 5px;
}

.t-5 {
  width: 29px;
  height: 8px;
  margin-left: 5px;
}

.helicopter {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

.helicopter svg {
  fill: #4b4841;
  width: 130px;
  animation: fly 0.3s ease-in-out infinite alternate;
}

.sky {
  position: relative;
}

.cloud {
  position: absolute;
  background-color: #4b484196;
  border-radius: 10px;
  margin-left: 155px;
  margin-top: -70px;
}

.c-1 {
  width: 20px;
  height: 9px;
}

.c-2 {
  width: 9px;
  height: 9px;
  top: 30px;
}

.c-3 {
  width: 15px;
  height: 9px;
  top: 30px;
  left: 20px;
}

.c-4 {
  width: 25px;
  height: 9px;
  top: -40px;
  left: -20px;
}

.c-5 {
  width: 25px;
  height: 9px;
  top: -25px;
  left: 40px;
}

.c-6 {
  width: 17px;
  height: 9px;
  left: -50px;
}

.c-7 {
  width: 24px;
  height: 9px;
  top: 50px;
}

.c-8 {
  width: 9px;
  height: 9px;
  top: 50px;
  left: -20px;
}

.c-9 {
  width: 17px;
  height: 9px;
  top: -60px;
  left: -20px;
}

@keyframes motion {
  0% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes fly {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-400px);
  }
}