.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    background: black;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    filter: contrast(50);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball{
    position: absolute;
    filter: blur(15px);
    background-color: white;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.blob{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: blob 3s ease-in-out infinite;
}

.blob::after{
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 70px;
    filter: blur(5px);
}

.sparkle{
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 150px;
    animation: sparkle 5s ease-in-out infinite;
}

.sparkle::after{
    content: " ";
    display: block;
    transform-origin: 46px 46px;
    background-color: white;
    position: absolute;
    left: 35px;
    top: 0;
    border-radius: 50px;
    filter: blur(4px);
    animation: sparkle-2 5s ease-in-out infinite;
}

.b-1{
    top: 0px;
    left: 1px;
    animation-delay: 2s;
}

.b-1::after{
    top: 12px;
    left: 13px;
}

.b-2{
    top: 20px;
    left: 0px;
    animation-delay: 2s;
}

.b-2::after{
    top: -10px;
    left: 10px;
}

.b-3{
    top: 15px;
    left: 15px;
    animation-delay: 7s;
}

.b-4{
    top: 5px;
    left: 25px;
    animation-delay: 7s;
}

.b-4::after{
    top: 5px;
    left: 0px;
}

.b-5{
    top: -5px;
    left: 25px;
    animation-delay: 12s;
}

.b-5::after{
    top: 20px;
    left: 0px;
}

.b-6{
    top: 0px;
    animation-delay: 12s;
}

.b-6::after{
    top: 15px;
    left: 3px;
}

.b-7{
    top: 5px;
    left: 25px;
    animation-delay: 2s;
}

.b-8{
    left: 10px;
    animation-delay: 2s;
}

.s-1{
    width: 140px;
    height: 140px;
    margin-top: 20px;
    margin-left: 10px;
    animation-delay: 7s;
}

.s-1::after{
    width: 15px;
    height: 15px;
    animation-delay: 7s;
}

.s-2{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 40px;
    animation-delay: 6s;
}

.s-2::after{
    left: 25px;
    width: 22px;
    height: 22px;
    animation-delay: 6s;
}

.s-3{
    width: 150px;
    height: 150px;
    margin-top: -90px;
    margin-left: 30px;
    animation-delay: 4s;
}

.s-3::after{
    top: 120px;
    left: 5px;
    width: 10px;
    height: 10px;
    animation-delay: 4s;
}

.s-4{
    width: 150px;
    height: 150px;
    margin-top: -100px;
    margin-left: -30px;
    animation-delay: 5.5s;
}

.s-4::after{
    top: 140px;
    left: 55px;
    width: 13px;
    height: 13px;
    animation-delay: 5.5s;
}

.s-5{
    width: 120px;
    height: 120px;
    margin-top: -80px;
    margin-left: -15px;
    animation-delay: 3s;
}

.s-5::after{
    top: 100px;
    left: 70px;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
}

.s-6{
    width: 110px;
    height: 110px;
    margin-top: 5px;
    margin-left: -20px;
    animation-delay: 4s;
}

.s-6::after{
    top: 20px;
    left: 35px;
    width: 12px;
    height: 12px;
    animation-delay: 4s;
}

.s-7{
    width: 130px;
    height: 130px;
    margin-top: 25px;
    margin-left: -25px;
    animation-delay: 4.5s;
}

.s-7::after{
    width: 10px;
    height: 10px;
    animation-delay: 4.5s;
}

.s-8{
    width: 120px;
    height: 120px;
    margin-top: 70px;
    margin-left: 30px;
    animation-delay: 3.5s;
}

.s-8::after{
    width: 14px;
    height: 14px;
    animation-delay: 3.5s;
}

.s-9{
    width: 80px;
    height: 80px;
    margin-top: 70px;
    margin-left: -10px;
    animation-delay: 6.5s;
}

.s-9::after{
    width: 20px;
    height: 20px;
    animation-delay: 6.5s;
}

.s-10{
    width: 100px;
    height: 100px;
    margin-top: -30px;
    margin-left: 5px;
    animation-delay: 2s;
}

.s-10::after{
    top: 100px;
    left: 35px;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
}

@keyframes blob{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes sparkle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes sparkle-2{
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}