@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #2c3e50;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.circle::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 46%;
  width: 18px;
  height: 18px;
  border: 2px solid #2ecc71;
  border-radius: 100%;
  animation: impact 1.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.circle {
  position: absolute;
  transform: translate(190px, 190px);
  width: 20px;
  height: 20px;
  background-color: #2ecc71;
  border-radius: 100%;
  transition: transform 0.3s ease-out;
  pointer-events: none;
}

.square {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

@keyframes impact {
  0%,
  40% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
