@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%);
  background-color: #42A7A1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report{
    width: 280px;
    height: 220px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.26);
}
.detail{
    position: relative;
    color: white;
    background-color: #F1BA64;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.name div:first-child{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    top: 12px;
    left: 15px;
}
.name div:last-child{
    position: relative;
    font-weight: 400;
    font-size: 11px;
    top: 12px;
    left: 15px;
}
.revenue div:first-child{
    position: relative;
    top: 14px;
    right: 15px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: end;
}
.revenue div:last-child{
    position: relative;
    top: 14px;
    right: 15px;
    font-size: 14px;
    font-weight: 600;
}
.legend{
    display: flex;
    margin: 10px 0 14px;
    justify-content: end;
}
.legend .pict{
    position: relative;
    width: 11px;
    height: 3px;
    border-radius: 3px;
    top: 8px;
    left: 6px;
}
.legend .views .pict{
    background-color: #FA7373;
}
.legend .purchase .pict{
    background-color: #7BA2FF;
}
.legend .text{
    font-size: 9px;
    text-transform: capitalize;
    color: #606060;
    padding: 0 10px 0 25px;
}
.real-graph{
    position: relative;
    padding: 0 10px;
    height: 81px;
    width: 260px;
}
.real-graph .h-line{
    position: relative;
    background-color: #F2F2F2;
    height: 1px;
}
.real-graph .h-line:nth-child(4){
    top: 42px;
}
.real-graph .h-line:last-child{
    top: 80px;
}
.dot{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    z-index: 10;
}
.red-line .dot:hover, .blue-line .dot:hover{
    cursor: pointer;
}
.dot-value{
    display: none;
    position: absolute;
}
polyline{
    fill: none;
    stroke-width: 3px;
}
.red-line{
    background-color: #FA7373;
}
.red-line:first-child{
    left: 7px;
    top: 47px;
}
.red-line:nth-child(2){
    left: 48px;
    top: 9px;
}
.red-line:nth-child(3){
    left: 88px;
    top: 20px;
}
.red-line:nth-child(4){
    left: 128px;
    top: 8px;
}
.red-line:nth-child(5){
    left: 169px;
    top: 35px;
}
.red-line:nth-child(6){
    left: 209px;
    top: 45px;
}
.red-line:nth-child(7){
    left: 249px;
    top: 16px;
}
.red-polyline{
    stroke: #FA7373;
}
.blue-line .dot{
    background-color: #7BA2FF;
}
.blue-line .dot:first-child{
    left: 7px;
    top: 58px;
}
.blue-line .dot:nth-child(2){
    left: 48px;
    top: 47px;
}
.blue-line .dot:nth-child(3){
    left: 88px;
    top: 62px;
}
.blue-line .dot:nth-child(4){
    left: 128px;
    top: 52px;
}
.blue-line .dot:nth-child(5){
    left: 169px;
    top: 58px;
}
.blue-line .dot:nth-child(6){
    left: 209px;
    top: 71px;
}
.blue-line .dot:nth-child(7){
    left: 249px;
    top: 61px;
}
.blue-line polyline{
    stroke: #7BA2FF;
}
.days{
    display: flex;
    color: #949494;
}
.days p{
    width: 14.2857142857%;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 30px;
}