@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%);
  background-color: #42A7A1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report{
    width: 280px;
    height: 220px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.26);
}

.detail{
    position: relative;
    color: white;
    background-color: #F1BA64;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.name div:first-child{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    top: 12px;
    left: 15px;
}

.name div:last-child{
    position: relative;
    font-weight: 400;
    font-size: 11px;
    top: 12px;
    left: 15px;
}

.revenue div:first-child{
    position: relative;
    top: 14px;
    right: 15px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: end;
}

.revenue div:last-child{
    position: relative;
    top: 14px;
    right: 15px;
    font-size: 14px;
    font-weight: 600;
}

.legend{
    display: flex;
    margin: 10px 0 14px;
    justify-content: end;
}

.legend .pict{
    position: relative;
    width: 11px;
    height: 3px;
    border-radius: 3px;
    top: 8px;
    left: 6px;
}

.legend .views .pict{
    background-color: #FA7373;
}

.legend .purchase .pict{
    background-color: #7BA2FF;
}

.legend .text{
    font-size: 9px;
    text-transform: capitalize;
    color: #606060;
    padding: 0 10px 0 25px;
}

.statistics{
    position: relative;
    margin: 0 10px;
}

.h-line{
    position: relative;
    background-color: #F2F2F2;
    height: 1px;
}

.h-line:nth-child(2), .h-line:nth-child(3){
    margin-top: 40px;
}

.data-red, .data-blue{
    position: absolute;
    top: 0;
    left: 0;
}

.points .dot{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 20;
    transition: visibility 2s ease-in-out;
}

.data-red .dot{
    background-color: #FA7373;
}

.data-blue .dot{
    background-color: #7BA2FF;
}

.data-red .points .dot:nth-child(2){
    left: 7px;
    top: 43px;
}

.data-red .points .dot:nth-child(3){
    left: 48px;
    top: 9px;
}

.data-red .points .dot:nth-child(4){
    left: 88px;
    top: 20px;
}

.data-red .points .dot:nth-child(5){
    left: 128px;
    top: 8px;
}

.data-red .points .dot:nth-child(6){
    left: 169px;
    top: 35px;
}

.data-red .points .dot:nth-child(7){
    left: 209px;
    top: 45px;
}

.data-red .points .dot:last-child{
    left: 249px;
    top: 16px;
}

.data-blue .points .dot:nth-child(2){
    left: 7px;
    top: 58px;
}

.data-blue .points .dot:nth-child(3){
    left: 48px;
    top: 47px;
}

.data-blue .points .dot:nth-child(4){
    left: 88px;
    top: 62px;
}

.data-blue .points .dot:nth-child(5){
    left: 128px;
    top: 52px;
}

.data-blue .points .dot:nth-child(6){
    left: 169px;
    top: 58px;
}

.data-blue .points .dot:nth-child(7){
    left: 209px;
    top: 71px;
}

.data-blue .points .dot:last-child{
    left: 249px;
    top: 61px;
}

.statistics polyline{
    fill: none;
    stroke-width: 3;
}

.statistics .data-red polyline{
    stroke: #FA7373;
}

.statistics .data-blue polyline{
    stroke: #7BA2FF;
}

.data-red .dot .value{
    background-color: #FA7373;
    bottom: 27px;
    left: -220%; 
    transition: 0.2s ease-in-out; 
    opacity: 0.6;
}

.data-red .dot .value::after{
    border-top: 8px solid #FA7373;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 5px solid transparent;
}

.data-blue .dot .value{
    background-color: #7BA2FF;
    bottom: 25px;
    left: -150%; 
    transition: 0.2s ease-in-out; 
    opacity: 0.6;
}

.data-blue .dot .value::after{
    border-top: 6px solid #7BA2FF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
}

.dot .value{
    visibility: hidden;
    position: relative;
    width: fit-content;
    font-size: 11px;
    font-weight: 600;
    line-height: 11px;
    padding: 8px 6px;
    color: white;
    border-radius: 5px;
}

.dot .value::after{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    content: " ";  
    top: 27px;
    left: 25%;
}

.dot:hover .value{
    visibility: visible;
    opacity: 1;
}

.data-red .dot:hover .value{
    bottom: 37px;
}

.data-blue .dot:hover .value{
    bottom: 35px;
}

.days{
    display: flex;
    color: #949494;
}

.days p{
    width: 14.2857142857%;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 30px;
}